/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

:root {
  --col1: rgb(95, 4, 170);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
}
button,
li,
i {
  cursor: pointer;
}

body {
  min-height: 100vh;
}
/* body::before {
  content: "DEMO TP CSS  From scratch Formation";
  position: absolute;
  transform: rotate(-45deg) translate(-20%, 50%);
  font-size: 12rem;
  color: #4f82ae;
  width: 100%;
  z-index: 10;
} */

nav {
  width: 80%;
  margin: 20px auto;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
ul {
  list-style: none;
}
nav li {
  font-size: min(1vmax, 1rem);
  position: relative;
}
nav li:first-child {
  color: var(--col1);
}
nav li:first-child::before {
  content: "";
  position: absolute;
  transform: translateY(-20px);
  background: var(--col1);
  height: 5px;
  width: 100%;
}
nav li:hover::before {
  content: "";
  position: absolute;
  transform: translateY(-20px);
  background: var(--col1);
  height: 5px;
  width: 100%;
}
nav li:active {
  color: var(--col1);
}
nav li:active::before {
  content: "";
  position: absolute;
  transform: translateY(-20px);
  background: var(--col1);
  height: 5px;
  width: 100%;
}
/* nav li:last-child::before {
  background: none;
} */
nav li:last-child::before {
  content: "";
  position: absolute;
  background: rgba(128, 128, 128, 0.25);
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50px;
  width: 140%;
  height: 180%;
  z-index: -1;
}
li {
  font-weight: bold;
}

/* *****************HEADER************* */

header {
  background: url(./assets/img/bg.jpg) fixed center/cover;
  /* background-attachment: fixed;
  background-position: bottom; */
  display: flex;
  justify-content: center;
  align-items: center;
}
header div {
  margin: 50px;
}
#gc-hero {
  width: 90%;
  display: block;
  margin: 30px auto;
}
header div h2 {
  margin: 40px 0;
  color: white;
  letter-spacing: 2px;
  font-size: 1.8rem;
}
header div button {
  display: block;
  margin: 40px auto;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 3px;
  border: 2px solid white;
  background: transparent;
  color: white;
}

/* *****************BAND***************** */

#bande {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bande p {
  width: 80%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 34px;
}

/* ***********LOGOS*************** */

.logos {
  position: relative;
  background: rgb(14, 14, 14);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 0 10%;
}
.logo1,
.logo2,
.logo3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  margin: 100px 0;
  width: 33%;
}

.logos img {
  padding: 0 0 80px 0;
}
.logos h3 {
  margin: 20px auto;
  font-size: 1.3rem;
  text-align: center;
}
.logos p {
  margin: 20px auto;
  font-size: 1.2rem;
  text-align: center;
}

.logos button {
  position: absolute;
  bottom: 50px;
  display: block;
  /* margin: 40px auto; */
  padding: 15px 30px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 3px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

/* *******************************NEWS***************************** */

/* ********main************ */

.news {
  margin: 50px;
}
.newsTitle {
  margin: 50px auto;
  width: 80%;
  display: grid;
  grid-template-columns: 70% 30%;
}
.newsTitle h2 {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
.newsTitle p {
  padding: 10px 0;
  font-size: 0.9rem;
  font-weight: 1000;
}
.newsInfos {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.newsroom {
  display: flex;
  justify-content: center;
}
#newsroom-btn {
  display: block;
  margin: 40px auto;
  padding: 15px 19px;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 3px;
  border: 1px solid rgb(0, 0, 0);
  background: transparent;
  color: rgb(0, 0, 0);
}

/* *********container*********** */

.newsContainer {
  position: relative;
  display: flex;
  width: 90%;
  min-height: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.news1,
.news2,
.news3 {
  padding: 0 5%;
  width: 33%;
}
.newsContainer h3 {
  padding: 20px 0;
  font-size: 1rem;
}
.newsContainer p {
  font-size: 0.8rem;
  font-weight: 700;
}

.newsContainer button {
  position: absolute;
  bottom: 10px;
  font-size: 0.7rem;
  font-weight: 800;
  letter-spacing: 3px;
  color: var(--col1);
  background: none;
}

/* ********************************FOOTER**************************** */

.footer-infos {
  display: flex;
  margin: 0 auto;
  padding: 100px 0 40px 0;
  width: 80%;
  position: relative;
}
.footer-infos::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background: #cfcfcfbd;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.logo-campus,
.infoP,
.parents,
.contact {
  width: 25%;
  padding: 0 40px;
}
.footer-infos div H3 {
  font-size: 1rem;
  font-weight: 800;
  padding: 15px 0;
}
.footer-infos div li {
  font-size: 0.8rem;
  font-weight: 800;
  padding: 10px 0;
  color: var(--col1);
}
.footer-infos div img {
  display: block;
  margin: auto;
}
.footer-infos div p {
  font-size: 0.7rem;
  font-weight: 900;
  padding: 15px 0;
}
.footer-infos div button {
  color: var(--col1);
  font-weight: 900;
  font-size: 0.7rem;
  background: none;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: 0.7rem;
}
.contact h3 {
  padding-bottom: 10px !important;
}
#social-net {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

/* ***********************************SPEAKERS************************ */

.speakers {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 80%;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  padding: 30px 0;
}
.speakers h3 {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 15px 0;
}
.speakers p {
  font-size: 0.8rem;
  font-weight: 900;
}
.logos-speakers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.logos-speakers img {
  height: 18px;
}

/* **************************************partenaires************************ */

footer {
  background: black;
  color: white;
  text-align: center;
}
.partners-container {
  width: 80%;
  margin: 0 auto;
}
.partners-container h3 {
  padding: 15px 0;
  font-weight: 400;
}
.logos-partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0 30px 0;
}

/* ********************************MEDIA QUERIES************************ */

@media screen and (max-width: 1000px) {
  header div h2 {
    font-size: 1.4rem;
  }
  #bande p {
    font-size: 1rem;
  }
  .logos h3 {
    font-size: 1rem;
  }
  .logos p {
    font-size: 0.9rem;
  }
  .logos button {
    font-size: 0.6rem;
  }
  .newsTitle h2 {
    font-size: 1.4rem;
  }
  .newsTitle p {
    font-size: 0.7rem;
  }
  #newsroom-btn {
    font-size: 0.7rem;
  }
  .newsContainer {
    flex-direction: column;
  }
  .news1,
  .news2,
  .news3 {
    margin-bottom: 80px;
    width: 100%;
  }
  .newsContainer img {
    display: block;
    margin: auto;
  }
  .newsContainer button {
    position: relative;
  }
  .newsContainer p {
    margin-bottom: 50px;
  }
  .footer-infos div H3 {
    font-size: 0.8rem;
  }
  .footer-infos div li {
    padding: 4px 0;
  }
  .speakers h3 {
    font-size: 0.8rem;
  }
  .speakers p {
    font-size: 0.6rem;
  }
  .logos-speakers img {
    height: 16px;
  }
  .partners-container h3 {
    font-size: 0.9rem;
  }
  .logos-partners img {
    height: 15px;
  }
  .footer-infos div img {
    width: 100px;
  }
}

@media screen and (max-width: 800px) {
  nav {
    display: none;
    /* visibility: hidden;
    margin: 0;
    height: 0; */
  }
  header {
    background-size: 100vh;
    background-position-y: -150px;
  }
  header div {
    margin: 30px;
  }
  #gc-hero {
    margin: 0 auto;
    width: 60%;
  }
  header div button {
    margin: 0 auto;
    padding: 10px;
  }
  header div h2 {
    font-size: 0.9rem;
    text-align: center;
    margin: 25px;
  }
  .logos {
    display: block;
  }
  .logo1,
  .logo2,
  .logo3 {
    margin: 0;
    width: 100%;
  }
  .logos button {
    position: relative;
    bottom: 0;
  }
}
@media screen and (max-width: 740px) {
  header {
    background-size: 100vmax;
    background-position-y: -200px;
  }
  header div button {
    font-size: 0.7rem;
  }
  .logos h3 {
    margin: 0 auto;
  }
  .logos button {
    margin-top: 10px;
  }
  .newsTitle {
    display: block;
  }
  .newsInfos {
    text-align: center;
  }
  #newsroom-btn {
    font-size: 0.8rem;
  }
  .news1,
  .news2,
  .news3 {
    background: #ddddddbd;
    padding: 5%;
  }
  .footer-infos,
  .speakers {
    display: none;
    /* visibility: hidden;
    margin: 0;
    padding: 0;
    height: 0; */
  }
  .newsContainer {
    padding-bottom: 0;
  }
  .newsContainer img {
    width: inherit;
    max-width: 255px;
  }
  .logos-partners {
    flex-wrap: wrap;
  }
  .logos-partners img {
    height: 20px;
    padding: 3px;
  }
}
