@font-face {
  font-family: merri;
  src: url(../fonts/Merriweather-Regular.ttf);
}
@font-face {
  font-family: "inter";
  src: url(../fonts/Inter\ Extra\ Bold\ 800.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: inter, serif;
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-family: merri, serif;
}

button {
  text-transform: uppercase;
  background: transparent;
  padding: 15px 50px;
  margin: 50px 0;
}

label {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: rgb(100, 100, 100);
}

body {
  background: url(../images/bg.jpg) fixed center/cover;
}

header {
  color: rgba(253, 253, 253, 0.904);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .top-header {
  text-transform: uppercase;
  text-align: center;
  width: 50%;
  margin: auto;
}
header .top-header h1 {
  letter-spacing: 7px;
  padding-bottom: 50px;
}
header .top-header p {
  font-family: merri;
  text-transform: initial;
  padding-bottom: 50px;
  font-size: 1.2rem;
}
header .top-header i {
  margin-top: 30px;
  font-size: 1.5rem;
  position: relative;
}
header .top-header i::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: 2px solid rgba(253, 253, 253, 0.904);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header .bottom-header {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 80%;
  max-width: 1150px;
  background: rgba(240, 248, 255, 0.199);
}
header .bottom-header .nav {
  display: flex;
}
header .bottom-header .nav ul {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
header .bottom-header .nav ul li {
  padding: 25px 10px;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 3px;
}
header .bottom-header .nav ul li:first-child {
  background: rgba(253, 253, 253, 0.904);
  color: black;
}
header .bottom-header .nav ul li:hover {
  background: rgba(253, 253, 253, 0.904);
  color: black;
}
header .social-net {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
header .social-net li i {
  font-size: 1.2rem;
  color: rgba(253, 253, 253, 0.904);
}
header .social-net li:hover {
  animation: iscale 0.8s linear;
}
@keyframes iscale {
  50% {
    transform: scale(1.5) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

main {
  width: 80%;
  max-width: 1150px;
  margin: 0 auto;
  background: rgba(253, 253, 253, 0.904);
}
main .top-main {
  padding: 30px;
  margin-bottom: 30px;
}
main .top-main .tmcontent {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
main .top-main .tmcontent h3 {
  font-size: 1rem;
  font-weight: 100;
  padding: 30px;
  position: relative;
}
main .top-main .tmcontent h3::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 20vw;
  left: 0px;
  transform: translateY(10px);
  background-color: rgba(0, 0, 0, 0.116);
}
main .top-main .tmcontent h3::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 20vw;
  right: 0px;
  transform: translateY(10px);
  background-color: rgba(0, 0, 0, 0.116);
}
main .top-main .tmcontent h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 5px;
  font-weight: 300;
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;
}
main .top-main .tmcontent p {
  font-family: merri, serif;
  font-style: italic;
  font-size: 0.8rem;
  line-height: 30px;
  width: 60%;
  margin: 0 auto;
}
main .middle-main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
main .middle-main .img-content {
  height: 600px;
  background: url(../images/pic01.jpg) center/cover;
}
main .middle-main .btn-content {
  margin-bottom: 50px;
}
main .bottom-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgba(128, 128, 128, 0.288);
  margin-bottom: 30px;
}
main .bottom-main img {
  width: 100%;
}
main .bottom-main .left-bottom,
main .bottom-main .right-bottom {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  padding: 60px;
}
main .bottom-main .left-bottom h3,
main .bottom-main .right-bottom h3 {
  padding: 10px 0;
  font-size: 0.7rem;
  font-weight: 200;
}
main .bottom-main .left-bottom h2,
main .bottom-main .right-bottom h2 {
  padding: 10px 0 20px;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main .bottom-main .left-bottom p,
main .bottom-main .right-bottom p {
  font-family: merri, serif;
  text-align: left;
  font-size: 0.8rem;
  line-height: 30px;
}
main .bottom-main .left-bottom {
  border-right: 1px solid rgba(128, 128, 128, 0.288);
}

footer {
  width: 80%;
  min-height: 650px;
  max-width: 1150px;
  margin: 0 auto 70px;
  background: rgba(253, 253, 253, 0.904);
  display: flex;
}
footer .left-part,
footer .right-part {
  width: 50%;
}
footer .left-part {
  border-right: 1px solid rgba(128, 128, 128, 0.288);
}
footer .left-part form {
  display: grid;
  grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;
  gap: 20px;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 50px 30px;
}
footer .left-part form div {
  display: flex;
  align-items: flex-end;
}
footer .left-part form div button {
  margin: 0;
}
footer .left-part form input,
footer .left-part form textarea {
  background: transparent;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.288);
}
footer .right-part .adress {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
footer .right-part .adress div {
  padding-left: 40px;
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  align-content: space-around;
  border-bottom: 1px solid rgba(128, 128, 128, 0.288);
}
footer .right-part .adress div h3 {
  font-family: inter, serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: rgb(100, 100, 100);
}
footer .right-part .adress div p {
  font-family: merri, serif;
  color: rgb(100, 100, 100);
  line-height: 35px;
}
footer .right-part .adress ul {
  display: flex;
  width: 60%;
}
footer .right-part .adress ul li {
  padding: 0 25px;
}
footer .right-part .adress ul i {
  color: black;
  position: relative;
}
footer .right-part .adress ul i::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid rgba(128, 128, 128, 0.288);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=index.css.map */