@font-face {
    font-family: merri;
    src: url(../fonts/Merriweather-Regular.ttf);
}
@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter\ Extra\ Bold\ 800.otf);
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin main-section{
    width: 80%;
    margin: 0 auto;
    text-align: center;

}

$color1: rgba(253, 253, 253, 0.904);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: inter, serif;
    list-style: none;
    text-decoration: none;
}
h1 {
    font-size: 4rem;
}
h3 {
    font-family: merri, serif;
}
button {
    text-transform: uppercase;
    background: transparent;
    padding: 15px 50px;
    margin: 50px 0;  
}
label {
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: rgb(100, 100, 100);
}
body {
    background: url(../images/bg.jpg) fixed center/cover;
}

header {
    color: $color1;
    height: 100vh;
    @include flex;
    flex-direction: column;

    .top-header {
        text-transform: uppercase;
        text-align: center;
        width: 50%;
        margin: auto;
        h1 {
            letter-spacing: 7px;
            padding-bottom: 50px;
        }
        p {
            font-family: merri;
            text-transform: initial ;
            padding-bottom: 50px;
            font-size: 1.2rem;
        }
        i {
            margin-top: 30px;
            font-size: 1.5rem;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                height: 60px;
                width: 60px;
                border-radius: 50px;
                border: 2px solid $color1;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    
    }
    .bottom-header {
        display: grid;
        grid-template-columns: 70% 30%;
        width: 80%;
        max-width: 1150px;
        background: rgba(240, 248, 255, 0.199);
       
        .nav {
                display: flex;
        
            ul {
                text-transform: uppercase;
                @include flex;
                justify-content: flex-start;

                li {
                    padding: 25px 10px;
                    font-size: 0.8rem;
                    font-weight: 300;
                    letter-spacing: 3px;
                    &:first-child {
                        
                        background: $color1;
                        color: black;
                    }
                    &:hover {
                        background: $color1;
                        color: black
                        }
                        
                    }
                }
            }
        }
        .social-net {
            @include flex;
            justify-content: space-evenly;
            
            li {
                i {
                    font-size: 1.2rem;
                    color: $color1;
                }
                &:hover {
                    animation: iscale 0.8s linear;
                    @keyframes iscale {
                        50% {
                            transform: scale(1.5) rotate(180deg);
                        }
                        100% {
                            transform: scale(1) rotate(360deg);
                        }
                    }
                }
            }
        }
    }
    
    // **********************MAIN*********************
    
main {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
    background: $color1;
    .top-main {
        padding: 30px;
        margin-bottom: 30px;
        

        .tmcontent {
            @include main-section;

            h3 {
                font-size: 1rem;
                font-weight: 100;
                padding: 30px;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 20vw;
                    left: 0px;
                    transform: translateY(10px);
                    background-color: rgba(0, 0, 0, 0.116);
                }
                &::after{
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 20vw;
                    right: 0px;
                    transform: translateY(10px);
                    background-color: rgba(0, 0, 0, 0.116);
                }
            }
            h2 {
                text-transform: uppercase;
                font-size: 2.5rem;
                letter-spacing: 5px;
                font-weight: 300;
                width: 60%;
                margin: 0 auto;
                padding: 30px 0;
            }
            p {
                font-family: merri, serif;
                font-style: italic;
                font-size: 0.8rem;
                line-height: 30px;
                width: 60%;
                margin: 0 auto;
            }
            
        }
    }
    .middle-main {
        @include main-section;
        .img-content {
            height: 600px;
            background: url(../images/pic01.jpg) center/cover;
        }
        .btn-content {
            margin-bottom: 50px;
        }
    }
    .bottom-main {
        @include flex;
        text-align: center;
        border-top: 1px solid rgba(128, 128, 128, 0.288);
        margin-bottom: 30px;

        img {
            width: 100%;
        }

        .left-bottom,
        .right-bottom {
            @include main-section;
            width: 50%;
            padding: 60px;

            h3 {
                padding: 10px 0;
                font-size: 0.7rem;
                font-weight: 200;
            }
            h2 {
                padding: 10px 0 20px;
                font-size: 1rem;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            p {
                font-family: merri, serif;
                text-align: left;
                font-size: 0.8rem;
                line-height: 30px;
            }
        }
        .left-bottom {
            border-right: 1px solid rgba(128, 128, 128, 0.288);
        }
    }
}
footer {
    width: 80%;
    min-height: 650px;
    max-width: 1150px;
    margin: 0 auto 70px;
    background: $color1;
    display: flex;

    .left-part,
    .right-part {
        width: 50%;
    }
    .left-part {
        form {
            display: grid;
            grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;
            gap: 20px;
            height: 100%;
            padding: 40px 30px;
            div {
                display: flex;
                align-items: flex-end;
                button {
                    margin: 0;
                }
            }    
        }
    }
    .right-part {
        .adress {
        display: grid;
        grid-template-rows: 140px 140px 140px 140px;
        }
    }
}