.header {
    background: black;
    display: flex;
}
.mano {
    color: #6aa945;
    text-align: center;
    align-items: center;
    text-shadow: 12px -9px 13px #241797;
    font-size: 10rem;
}
.laya{
    color: #2fd38f;
    text-align: center;
    align-items: center;
    text-shadow: 12px -9px 13px #e700eb;
    font-size: 10rem;
}
button {
    background: #e700eb;
    border-radius: 100px;
}
.button {
    display: flex;
    justify-content: space-around;
}