@use '../settings' as set;

footer {
    width: 80%;
    min-height: 650px;
    max-width: 1150px;
    margin: 0 auto 70px;
    background: set.$color1;
    display: flex;
    @media screen and (max-width: 900px) {
        display: block;

        
    }

    .left-part,
    .right-part {
        width: 50%;
        @media screen and (max-width: 900px) {
            width: auto;
        }
    }
    .left-part {
        border-right: 1px solid rgba(128, 128, 128, 0.288);
        form {
            display: grid;
            grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;
            gap: 20px;
            height: 100%;
            width: 90%;
            margin: 0 auto;
            padding: 50px 30px;
            div {
                display: flex;
                align-items: flex-end;
                button {
                    margin: 0;
                }
            }
            input,
            textarea {
                background: transparent;
                border-radius: 5px;
                border: 1px solid rgba(128, 128, 128, 0.288);
            }    
        }
        @media screen and (max-width: 900px) {
            border-right: none;
        }
    }
    .right-part {
        .adress {
            display: grid;
            height: 100%;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            
            div {
            padding-left: 40px;
            display: grid;
            grid-template-columns: 25% 75%;
            align-items: center;
            align-content: space-around;
            border-bottom: 1px solid rgba(128, 128, 128, 0.288);
            @media screen and (max-width: 900px) {
                padding-left: 70px;
                &:first-child {
                    border-top: 1px solid rgba(128, 128, 128, 0.288);
                }
            }
            @media screen and (max-width: 600px) {
                padding-left: 25px;
            }    

                h3 {
                    font-family: inter, serif;
                    text-transform: uppercase;
                    font-size: 0.7rem;
                    letter-spacing: 2px;
                    color: rgb(100, 100, 100);
                    
                    }

                p {
                    font-size: 0.8rem;
                    font-family: merri, serif;
                    color: rgb(100, 100, 100);
                    line-height: 35px;
                    @media screen and (max-width: 600px) {
                        font-size: 0.6rem;
                    }
                }
            }
            ul {
                display: flex;
                width: 60%;

                li{
                    padding: 0 20px;
                }

                i {
                    color: black;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        border-radius: 50px;
                        border: 1px solid rgba(128, 128, 128, 0.288);
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);

                    }
                }
            }
        }
    }
}